In [2]:
import duckdb

duckdb.sql("""
CREATE OR REPLACE VIEW commune AS
FROM 'https://www.insee.fr/fr/statistiques/fichier/7766585/v_commune_2024.csv';
""")

In [4]:
import pandas as pd

duckdb.sql("""
SELECT *
  FROM commune limit 3
""").to_df()

,TYPECOM,COM,REG,DEP,CTCD,ARR,TNCC,NCC,NCCENR,LIBELLE,CAN,COMPARENT
0,COM,01001,84,01,01D,012,5,ABERGEMENT CLEMENCIAT,Abergement-Clémenciat,L'Abergement-Clémenciat,0108,None
1,COM,01002,84,01,01D,011,5,ABERGEMENT DE VAREY,Abergement-de-Varey,L'Abergement-de-Varey,0101,None
2,COM,01004,84,01,01D,011,1,AMBERIEU EN BUGEY,Ambérieu-en-Bugey,Ambérieu-en-Bugey,0101,None

In [ ]:

    Quel est le code région de Mayotte ?
    Combien de communes y a-t-il en Guyane ?

In [3]:
duckdb.sql("""
SELECT dep, reg
  FROM commune
 WHERE NCC = 'MAMOUDZOU';
""").to_df()

   DEP  REG
0  976    6

In [5]:
duckdb.sql("""
SELECT COUNT(*)
  FROM commune
 WHERE dep = '973';
""").to_df()

   count_star()
0            22

In [8]:
duckdb.sql("""
SELECT COUNT(1)
  FROM commune
 WHERE dep IN ('02','60','80')
   AND NCC LIKE '%L%L%L%L%';
""").to_df()

   count(1)
0        32

    Affichez le nombre de communes par département
        Classez par nombre de communes décroissant
        Quel est le numéro du département se classant au 20e rang ?
    Quel est le numéro du département dans lequel se trouve le nom de commune le plus long

In [10]:
duckdb.sql("""
select dep, count(distinct com) as nb_communes from commune group by dep order by nb_communes desc limit 5;""")

┌─────────┬─────────────┐
│   DEP   │ nb_communes │
│ varchar │    int64    │
├─────────┼─────────────┤
│ NULL    │        2564 │
│ 62      │         890 │
│ 02      │         798 │
│ 80      │         772 │
│ 57      │         725 │
└─────────┴─────────────┘

In [7]:
duckdb.sql("""select * from commune where dep is null;""")

┌─────────┬─────────┬───────┬─────────┬─────────┬─────────┬───────┬──────────────────────────┬──────────────────────────┬──────────────────────────┬─────────┬───────────┐
│ TYPECOM │   COM   │  REG  │   DEP   │  CTCD   │   ARR   │ TNCC  │           NCC            │          NCCENR          │         LIBELLE          │   CAN   │ COMPARENT │
│ varchar │ varchar │ int64 │ varchar │ varchar │ varchar │ int64 │         varchar          │         varchar          │         varchar          │ varchar │  varchar  │
├─────────┼─────────┼───────┼─────────┼─────────┼─────────┼───────┼──────────────────────────┼──────────────────────────┼──────────────────────────┼─────────┼───────────┤
│ COMD    │ 01015   │  NULL │ NULL    │ NULL    │ NULL    │     1 │ ARBIGNIEU                │ Arbignieu                │ Arbignieu                │ NULL    │ 01015     │
│ COMD    │ 01025   │  NULL │ NULL    │ NULL    │ NULL    │     0 │ BAGE LA VILLE            │ Bâgé-la-Ville            │ Bâgé-la-Ville            │ NULL    │ 01025     │
│ COMD    │ 01033   │  NULL │ NULL    │ NULL    │ NULL    │     0 │ BELLEGARDE SUR VALSERINE │ Bellegarde-sur-Valserine │ Bellegarde-sur-Valserine │ NULL    │ 01033     │
│ COMD    │ 01036   │  NULL │ NULL    │ NULL    │ NULL    │     0 │ BELMONT LUTHEZIEU        │ Belmont-Luthézieu        │ Belmont-Luthézieu        │ NULL    │ 01036     │
│ COMD    │ 01039   │  NULL │ NULL    │ NULL    │ NULL    │     0 │ BEON                     │ Béon                     │ Béon                     │ NULL    │ 01138     │
│ COMD    │ 01059   │  NULL │ NULL    │ NULL    │ NULL    │     0 │ BRENAZ                   │ Brénaz                   │ Brénaz                   │ NULL    │ 01453     │
│ COMD    │ 01080   │  NULL │ NULL    │ NULL    │ NULL    │     0 │ CHAMPDOR                 │ Champdor                 │ Champdor                 │ NULL    │ 01080     │
│ COMD    │ 01091   │  NULL │ NULL    │ NULL    │ NULL    │     0 │ CHATILLON EN MICHAILLE   │ Châtillon-en-Michaille   │ Châtillon-en-Michaille   │ NULL    │ 01033     │
│ COMD    │ 01097   │  NULL │ NULL    │ NULL    │ NULL    │     0 │ CHAVORNAY                │ Chavornay                │ Chavornay                │ NULL    │ 01453     │
│ COMD    │ 01119   │  NULL │ NULL    │ NULL    │ NULL    │     0 │ CORCELLES                │ Corcelles                │ Corcelles                │ NULL    │ 01080     │
│  ·      │   ·     │    ·  │  ·      │  ·      │  ·      │     · │     ·                    │     ·                    │     ·                    │  ·      │   ·       │
│  ·      │   ·     │    ·  │  ·      │  ·      │  ·      │     · │     ·                    │     ·                    │     ·                    │  ·      │   ·       │
│  ·      │   ·     │    ·  │  ·      │  ·      │  ·      │     · │     ·                    │     ·                    │     ·                    │  ·      │   ·       │
│ COMD    │ 89429   │  NULL │ NULL    │ NULL    │ NULL    │     0 │ VAREILLES                │ Vareilles                │ Vareilles                │ NULL    │ 89411     │
│ COMA    │ 89435   │  NULL │ NULL    │ NULL    │ NULL    │     0 │ VAUX                     │ Vaux                     │ Vaux                     │ NULL    │ 89024     │
│ COMD    │ 89448   │  NULL │ NULL    │ NULL    │ NULL    │     0 │ VIGNES                   │ Vignes                   │ Vignes                   │ NULL    │ 89197     │
│ COMD    │ 89454   │  NULL │ NULL    │ NULL    │ NULL    │     0 │ VILLEFRANCHE             │ Villefranche             │ Villefranche             │ NULL    │ 89086     │
│ COMD    │ 89457   │  NULL │ NULL    │ NULL    │ NULL    │     0 │ VILLEMER                 │ Villemer                 │ Villemer                 │ NULL    │ 89196     │
│ COMD    │ 89473   │  NULL │ NULL    │ NULL    │ NULL    │     0 │ VILLIERS SUR THOLON      │ Villiers-sur-Tholon      │ Villiers-sur-Tholon      │ NULL    │ 89003     │
│ COMA    │ 89476   │  NULL │ NULL    │ NULL    │ NULL    │     3 │ VILLOTTE                 │ Villotte                 │ La Villotte              │ NULL    │ 89472     │
│ COMD    │ 89484   │  NULL │ NULL    │ NULL    │ NULL    │     0 │ VOLGRE                   │ Volgré                   │ Volgré                   │ NULL    │ 89003     │
│ COMD    │ 91222   │  NULL │ NULL    │ NULL    │ NULL    │     1 │ ESTOUCHES                │ Estouches                │ Estouches                │ NULL    │ 91390     │
│ COMD    │ 91390   │  NULL │ NULL    │ NULL    │ NULL    │     0 │ MEREVILLE                │ Méréville                │ Méréville                │ NULL    │ 91390     │
├─────────┴─────────┴───────┴─────────┴─────────┴─────────┴───────┴──────────────────────────┴──────────────────────────┴──────────────────────────┴─────────┴───────────┤
│ 2564 rows (20 shown)                                                                                                                                        12 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

duckdb.sql("""
SELECT dep,
       COUNT(1) AS nb_communes,
       RANK() OVER (ORDER BY COUNT(1) DESC) AS rang
  FROM commune
 WHERE dep IS NOT NULL
 GROUP BY dep
HAVING nb_communes >= 500
 ORDER BY 2 DESC;
""").to_df()

In [ ]:
duckdb.sql("""
SELECT dep,
       COUNT(1) AS nb_communes,
       RANK() OVER (ORDER BY COUNT(1) DESC) AS rang
  FROM commune
 WHERE dep IS NOT NULL
 GROUP BY dep
HAVING nb_communes >= 500
 ORDER BY rang DESC;
""").to_df()

   DEP  nb_communes  rang
0   62          890     1
1   02          798     2
2   80          772     3
3   57          725     4
4   76          708     5
5   21          698     6
6   60          680     7
7   59          648     8
8   51          611     9
9   54          591    10
10  31          586    11
11  27          585    12
12  25          569    13
13  71          564    14
14  64          545    15
15  70          539    16
16  33          535    17
17  14          528    18
18  67          514    19
19  38          512    20
20  88          507    21
21  77          507    21
22  24          503    23

    Quel est le numéro du département dans lequel se trouve le nom de commune le plus long

In [6]:
duckdb.sql("""SELECT max(LENGTH(ncc))
                        FROM commune""")

┌──────────────────┐
│ max(length(ncc)) │
│      int64       │
├──────────────────┤
│               45 │
└──────────────────┘

# test

In [ ]:
duckdb.sql("""
SELECT dep
  FROM commune
 WHERE LENGTH(ncc) = (SELECT max(LENGTH(ncc))
                        FROM commune);
""").to_df()

  DEP
0  51